<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="add_criminal">Criminal add</a></th>
    </tr>
    <tr>
      <th scope="row">&nbsp;<a href="view_criminal">Criminal view</a></th>
    </tr>
    <tr>
      <th scope="row">&nbsp;<a href="add_missing_details">Add Missing</a> </th>
    </tr>
    <tr>
      <th scope="row">&nbsp;<a href="view_missing">view Missing</a> </th>
    </tr>
    <tr>
      <th scope="row"><a href="add_camera">add camera</a> </th>
    </tr>
      <tr>
      <th scope="row"><a href="view_camera">view camera</a> </th>
    </tr>
      <tr>
      <th scope="row"><a href="view_complaints_from_user">Complaints</a> </th>
    </tr>
  </table>
</form>
</body>
</html>
